[Unit]
Description=Shutdown gracefully on next boot after crash
After=multi-user.target

[Service]
Type=oneshot
ExecCondition=/usr/bin/bash -c "last -xT | awk -F '\t' '{print $2}' | grep system | awk 'NR==2' | grep -q 'system boot'"
ExecStart=/usr/bin/systemctl poweroff
RemainAfterExit=1

[Install]
WantedBy=multi-user.target
